.DS_Store
Leandro_PokedexApp.xcodeproj/project.xcworkspace/xcuserdata/leandro.banha.xcuserdatad/UserInterfaceState.xcuserstate
Leandro_PokedexApp.xcodeproj/xcuserdata/leandro.banha.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist